<!DOCTYPE html>
<html>
<head>
<meta name="description" content="Creating infinite animations with jQuery's animate()" />
<script src="http://code.jquery.com/jquery-git1.js"></script>
  <meta charset="utf-8">
  <title>Creating infinite animations with jQuery's animate()</title>
</head>
  <body>
<ul>
    <div id="d1" style="width:  100px;height: 100px;background-color: cyan; position: relative;">
<li>1111</li><li>2222</li>
</div>
</ul>
    <div id="d2" style="width:  100px;height: 100px;background-color: red; position: absolute;"></div>

  </body>
</html>
