<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src=”timeline/js/storyjs-embed.js”></script>

  </head>

<body>
    <div class='up-div'>
      <img src="<%= asset_path 't4d-m.png' %>" />
      <iframe src='//cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1hiDqpEPZk-WF1X7kStc8jmqi4dRkRXBRzZH-QXgSqTI&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' frameborder='0'></iframe>
    </div>
<iframe src='//cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1ftuHPVzcNQfv9KCvskb_LUHl-A1HO6WiojRv3bm5tCA&font=Default&lang=en&initial_zoom=2&height=300' width='100%' height='300' frameborder='0'></iframe>
    <div class="row">
      <div class='down-div' style="width:auto; padding-top:0px;">
          <img width="60%" src="<%= asset_path 'tam_home' %>" />
      </div>
    </div>
  </body>
  </html>
