    <div class='up-div'>
      <img src="<%= asset_path 't4d-m1.png' %>"/>
    </div>
    <div class="row">
      <div class='down-div' style="width:auto; padding-top:0px;">
          <img width="60%" src="<%= asset_path 'tam_home' %>" />
      </div>
    </div>
