
    <div class='up-div'>
      <%= render "timelines/play_again_tam" %>
    </div>
    <div class="row">
      <div class='down-div' style="width:auto; padding-top:0px;">
          <img width="60%" src="<%= asset_path 'tam_home' %>" />
      </div>
    </div>
