    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Wendy+One' rel='stylesheet' type='text/css'>
<style>
@gps-burg:           rgba(182, 15, 97, 0.9);
@gps-orange:         rgba(242, 112, 45, 0.9);
@gps-skyblue:        rgba(45, 181, 167, 0.9);
@gps-purple:         rgba(190, 61, 244, 0.9);
@gps-green:          rgba(180, 224, 67, 0.9);
@gps-yellow:         rgba(242, 194, 58, 0.9);

body{
  --gps-burg:           rgba(182, 15, 97, 0.9);
  --gps-orange:         rgba(242, 112, 45, 0.9);
  --darken-orange:      "inset 10px 10px 10px rgba(222, 85, 14, 0.9)";
  font-family: 'Wendy One', sans-serif;
}

span {
  text-transform: uppercase;
}
.container {
  width: auto;
  height: 420px;
  padding: 10px;
  margin: 0 auto;
  background: whitesmoke;
  position: relative;
}
.balloon {
  width: 738px;
  margin: 0 auto;
  padding-top: 30px;
  position: relative;
}
.balloon > div {
   width:104px;
  height:140px;
  background: @gps-burg;
  border-radius:0;
  border-radius:80% 80% 80% 80%;
  margin: 0 auto;
  position: absolute;
  padding:10px;
  box-shadow:inset 17px 7px 10px var(--gps-burg);
  -webkit-transform-origin: bottom center;
}
.balloon > div:nth-child(1){
  background: var(--gps-burg);
  left: 0;
  box-shadow:inset 10px 10px 10px darken(rgba(182, 15, 97, 0.9), 10%);
  -webkit-animation:balloon1 6s ease-in-out infinite;
  -moz-animation:balloon1 6s ease-in-out infinite;
  -o-animation:balloon1 6s ease-in-out infinite;
  animation:balloon1 6s ease-in-out infinite;
  &:before {
   color: var(--gps-burg) ;
  }

}
.balloon > div:nth-child(2){
  background: var(--gps-orange);
  left: 120px;
  box-shadow: inset 10px 10px 10px rgba(222, 85, 14, 0.9);
   -webkit-animation:balloon2 6s ease-in-out infinite;
  -moz-animation:balloon2 6s ease-in-out infinite;
  -o-animation:balloon2 6s ease-in-out infinite;
  animation:balloon2 6s ease-in-out infinite;
  &:before {
   color: var(--gps-orange);
  }

}
.balloon > div:nth-child(3){
  background: @gps-skyblue;
  left: 240px;
  box-shadow:inset 10px 10px 10px darken(@gps-skyblue, 10%);
   -webkit-animation:balloon4 6s ease-in-out infinite;
  -moz-animation:balloon4 6s ease-in-out infinite;
  -o-animation:balloon4 6s ease-in-out infinite;
  animation:balloon4 6s ease-in-out infinite;
  &:before {
   color: @gps-skyblue ;
  }

}
.balloon > div:nth-child(4){
  background: @gps-purple;
  left: 360px;
  box-shadow:inset 10px 10px 10px darken(@gps-purple, 10%);
   -webkit-animation:balloon1 5s ease-in-out infinite;
  -moz-animation:balloon1 5s ease-in-out infinite;
  -o-animation:balloon1 5s ease-in-out infinite;
  animation:balloon1 5s ease-in-out infinite;
  &:before {
   color: @gps-purple ;
  }

}
.balloon > div:nth-child(5){
  background: @gps-green;
  left: 480px;
  box-shadow:inset 10px 10px 10px darken(@gps-green, 10%);
   -webkit-animation:balloon3 5s ease-in-out infinite;
  -moz-animation:balloon3 5s ease-in-out infinite;
  -o-animation:balloon3 5s ease-in-out infinite;
  animation:balloon3 5s ease-in-out infinite;
  &:before {
   color: @gps-green ;
  }

}
.balloon > div:nth-child(6){
  background: @gps-yellow;
  left: 600px;
  box-shadow:inset 10px 10px 10px darken(@gps-yellow, 10%);
  -webkit-animation:balloon2 3s ease-in-out infinite;
  -moz-animation:balloon2 3s ease-in-out infinite;
  -o-animation:balloon2 3s ease-in-out infinite;
  animation:balloon2 3s ease-in-out infinite;
  &:before {
   color: @gps-yellow ;
  }

}
.balloon > div:before {
  color:@gps-burg;
  position:absolute;
  bottom:-11px;
  left: 52px;
  content:"▲";
  font-size:1em;
}

span {
  font-size: 4.8em;
  color: white;
  position: relative;
  top: 30px;
  left: 50%;
  margin-left: -27px;
}

/*BALLOON 1 4*/
@-webkit-keyframes balloon1 {
  0%,100%{ -webkit-transform:translateY(0) rotate(-6deg);}
  50%{ -webkit-transform:translateY(-20px) rotate(8deg); }
}
@-moz-keyframes balloon1 {
  0%,100%{ -moz-transform:translateY(0) rotate(-6deg);}
  50%{ -moz-transform:translateY(-20px) rotate(8deg); }
}
@-o-keyframes balloon1 {
  0%,100%{ -o-transform:translateY(0) rotate(-6deg);}
  50%{ -o-transform:translateY(-20px) rotate(8deg); }
}
@keyframes balloon1 {
  0%,100%{ transform:translateY(0) rotate(-6deg);}
  50%{ transform:translateY(-20px) rotate(8deg); }
}

/* BAllOON 2 5*/
@-webkit-keyframes balloon2 {
  0%,100%{ -webkit-transform:translateY(0) rotate(6eg);}
  50%{ -webkit-transform:translateY(-30px) rotate(-8deg); }
}
@-moz-keyframes balloon2 {
  0%,100%{ -moz-transform:translateY(0) rotate(6deg);}
  50%{ -moz-transform:translateY(-30px) rotate(-8deg); }
}
@-o-keyframes balloon2 {
  0%,100%{ -o-transform:translateY(0) rotate(6deg);}
  50%{ -o-transform:translateY(-30px) rotate(-8deg); }
}
@keyframes balloon2 {
  0%,100%{ transform:translateY(0) rotate(6deg);}
  50%{ transform:translateY(-30px) rotate(-8deg); }
}


/* BAllOON 0*/
@-webkit-keyframes balloon3 {
  0%,100%{ -webkit-transform:translate(0, -10px) rotate(6eg);}
  50%{ -webkit-transform:translate(-20px, 30px) rotate(-8deg); }
}
@-moz-keyframes balloon3 {
 0%,100%{ -moz-transform:translate(0, -10px) rotate(6eg);}
  50%{ -moz-transform:translate(-20px, 30px) rotate(-8deg); }
}
@-o-keyframes balloon3 {
 0%,100%{ -o-transform:translate(0, -10px) rotate(6eg);}
  50%{ -o-transform:translate(-20px, 30px) rotate(-8deg); }
}
@keyframes balloon3 {
 0%,100%{ transform:translate(0, -10px) rotate(6eg);}
  50%{ transform:translate(-20px, 30px) rotate(-8deg); }
}

/* BAllOON 3*/
@-webkit-keyframes balloon4 {
  0%,100%{ -webkit-transform:translate(10px, -10px) rotate(-8eg);}
  50%{ -webkit-transform:translate(-15px, 20px) rotate(10deg); }
}
@-moz-keyframes balloon4 {
  0%,100%{ -moz-transform:translate(10px, -10px) rotate(-8eg);}
  50%{ -moz-transform:translate(-15px, 10px) rotate(10deg); }
}
@-o-keyframes balloon4 {
  0%,100%{ -o-transform:translate(10px, -10px) rotate(-8eg);}
  50%{ -o-transform:translate(-15px, 10px) rotate(10deg); }
}
@keyframes balloon4 {
  0%,100%{ transform:translate(10px, -10px) rotate(-8eg);}
  50%{ transform:translate(-15px, 10px) rotate(10deg); }
}
h1 {
  position:relative;
  top: 200px;
  text-align: center;
  color: @gps-burg;
  font-size: 3.5em;
}
</style>
<div class="container">
  <div class="balloon">
    <div id="b1"><span>☺</span></div>
    <!-- <div><span id="b1">&#60;&#47;&#62;</span></div> -->
    <div><span>T</span></div>
    <div><span id="b3">K</span></div>
    <div><span id="b4">S</span></div>
    <div id="b5"><span>!</span></div>
    <div><span>!</span></div>
  </div>
</div>
///////////// dropping blocks //////////////////////////////////////////////
<script>
//$(document).on("page:change", function() {
$(document).ready(function() {
    setTimeout(function() {
      $("#b1").html('<span style="margin-left: 0px; left: 0px;">&#60;&#47;&#62;</span>');
      $("#b3").text('D');
      $("#b4").text('D');
      // $("var(--gps-burg):").css('color', 'green');
      var body = document.body
      body.style.setProperty('--gps-burg', 'rgba(242, 45, 45, 0.9)');
  //    $(".balloon div").css('box-shadow', 'rgb(233, 30, 30)');
      $("#b5").html('<span style="margin-left: 0px; left: 0px;">eh</span>');


    }, 3000);

});
</script>
