    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->

<div class="row">
  <div id="header" class="">
    <div id="headerc1" class="col-md-2"></div>
    <div class="col-md-9">
          <p id="headerc2" class=""></p>
          <p id="headerc3" class=""></p>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<div class="row">
  <div id="legoblocks" class="">
      <div id="legored" class="legos"></div>
      <div id="legoredtop" class="legos"></div>
      <div id="legopink" class="legos"></div>
      <div id="legopinktop" class="legos"></div>
      <div id="legodgreen" class="legos"></div>
      <div id="legoyellow" class="legos"></div>
      <div id="legoblue" class="legos"></div>
      <div id="legowhite" class="legos"></div>
      <div id="legobrown" class="legos"></div>
      <div id="legolgreen" class="legos"></div>
      <div id="legoblack" class="legos"></div>
      <div id="legoorange" class="legos"></div>
  </div>
</div>
<script>
///////// blocks' body global vriables //////////////////////////////////////
var c2_legopinktop = "<p>Raspberry Pi II - credit card–sized single-board computer</p><ul><li>CPU: 900 MHz quad-core ARM Cortex-A7</li><li>GPU: Broadcom VideoCore IV @ 250 MHz</li></ul>";

var c2_legoredtop = "<p>Ruby on Rails - web application framework</p><ul><li>Ruby version: 2.2.1</li><li>Rails version: 4.2.5.2</li></ul>";

var c2_legoorange = "<p>WebRTC - a free open project that provides browsers and mobile applications with Real-Time Communications (RTC) capabilities via APIs</p>";

var c2_legoblack = "<p>AirPlay - Apple's protocol that allows wireless streaming between devices</p>";

var c2_legolgreen = "<p>Google Chrome Extension - an addition to support <img src=" + "<%= asset_path 'tam4dummies_s_up.png' %>" + "> app</p>";

var c2_legobrown = "<p>Youtube Live Streaming API - support to create, update, and manage live events on YouTube, allowing streaming videos in real time. Main resources applied:</strong> app</p><ul><li>LiveBroadcast: insert, bind and transition broadcasts</li><li>LiveStreams: insert and manage video streams</li></ul>";

var c2_legodgreen = "<p>OpenMax API - Open Media Acceleration interface to perform graphic encoding & decoding, exploring the <img src=" + "<%= asset_path 'tam4dummies_s_up.png' %>" + "> Raspberry Pi's GPU accelerated hardware</p>";

var c2_legoyellow = "<p>Gstreamer - a pipeline-based multimedia framework that links together a wide variety of media processing systems. Used to stream from the <img src=" + "<%= asset_path 'tam4dummies_s_up.png' %>" + "> Raspberry Pi to the YouTube RTM server</p>";

var c2_legowhite = "<p>Timeline.js - an open-source tool that enables to build interactive timelines supporting JSON data format</p>";

///////////// dropping blocks //////////////////////////////////////////////
$(document).on("page:change", function() {

    setTimeout(kickon(), 2000);
    function kickon() {
        var blocks = [["red", 0, 780, 350], ["pink", -180, 790, -330], ["dgreen", -150, 820, 360], ["yellow", 20, 810, -360], ["blue", 30, 805, 290], ["white", 60, 800, -140], ["brown", -50, 780, -300], ["black", -50, 790, 360], ["orange", -40, 790, -360],];
        for(var i=0; i < blocks.length; i++){
            $("#lego" + blocks[i][0]).css({
                  position: "absolute",
                  left: "500px",
                  top: "-200px",
                  transition: "700ms linear",
                  transform: "translate(" + blocks[i][1] + "px, " + blocks[i][2] + "px) rotate(" + blocks[i][3] + "deg)"
            });
        };
    };

    setTimeout(kickup, 700);
    function kickup() {
        var blocksup = [["red", 100, 580, 230], ["pink", -200, 590, -250], ["dgreen", -180, 550, 260], ["yellow", 260, 560, -270], ["blue", 160, 540, 200], ["white", -100, 535, -70], ["brown", -10, 540, -200], ["black", -30, 520, 280], ["orange", 0, 530, -260],];
        for(var i=0; i < blocksup.length; i++){
          $("#lego" + blocksup[i][0]).css({
                position: "absolute",
                transition: "500ms linear",
                transform: "translate(" + blocksup[i][1] + "px, " + blocksup[i][2] + "px) rotate(" + blocksup[i][3] + "deg)"
          });
        };
    };


    setTimeout(kickdown, 1400);
    function kickdown() {
      var blocksdown = [["red", 100, 680, 350], ["pink", -200, 700, -345], ["dgreen", -220, 840, 360], ["yellow", 220, 810, -360], ["blue", 160, 670, 270], ["white", -250, 820, 90], ["brown", -10, 780, -300], ["black", -40, 750, 360], ["orange", 100, 790, -360],];
      for(var i=0; i < blocksdown.length; i++){
        $("#lego" + blocksdown[i][0]).css({
          position: "absolute",
          transition: "300ms linear",
          transform: "translate(" + blocksdown[i][1] + "px, " + blocksdown[i][2] + "px) rotate(" + blocksdown[i][3] + "deg)"
        });
      };
    };
///////// lazy lgreen /////////////////////////////////////////////////////////

    setTimeout(kicklg, 4100);
    function kicklg() {
        var lgblocks = [["lgreen", 100, 790, -340]];
        for(var i=0; i < lgblocks.length; i++){
            $("#lego" + lgblocks[i][0]).css({
                  position: "absolute",
                  transition: "700ms linear",
                  transform: "translate(" + lgblocks[i][1] + "px, " + lgblocks[i][2] + "px) rotate(" + lgblocks[i][3] + "deg)"
            });
        };
    };


    setTimeout(kicklgup, 4700);
    function kicklgup() {
        var lgblocksup = [["lgreen", 120, 530, -270]];
        for(var i=0; i < lgblocksup.length; i++){
          $("#lego" + lgblocksup[i][0]).css({
                position: "absolute",
                transition: "500ms ease-out",
                transform: "translate(" + lgblocksup[i][1] + "px, " + lgblocksup[i][2] + "px) rotate(" + lgblocksup[i][3] + "deg)"
          });
        };
    };


    setTimeout(kicklgdown, 5100);
    function kicklgdown() {
        var lgblocksdown = [["lgreen", 190, 700, -375]];
        for(var i=0; i < lgblocksdown.length; i++){
          $("#lego" + lgblocksdown[i][0]).css({
                position: "absolute",
                transition: "300ms linear",
                transform: "translate(" + lgblocksdown[i][1] + "px, " + lgblocksdown[i][2] + "px) rotate(" + lgblocksdown[i][3] + "deg)"
          });
        };
    };

///////// housekeeper /////////////////////////////////////////////////////////
// AJAX to verify if has siri_housekeeper file
function legoFix() {
    $.ajax({
      type: "GET",
      url:"<%= lego_fix_path %>",
      processData: false,
      contentType: 'application/json'
    });
    return;
};

function houseKeeper() {
    var blockshk = [["red", -120, 600, -360], ["redtop", 25, 649, -360], ["pink", 60, 570, 360], ["pinktop", 60, 570, 360], ["dgreen", 213, 571, -360], ["yellow", 200, 610, 360], ["blue", 255, 652, -360], ["white", 182, 651, 360], ["brown", -124, 691, 361], ["lgreen", -102, 646, 361], ["black", -13, 568, 361], ["orange", -84, 567, 361],];
    for(var i=0; i < blockshk.length; i++){
        $("#lego" + blockshk[i][0]).css({
              position: "absolute",
              transition: "2000ms ease",
              transform: "translate(" + blockshk[i][1] + "px, " + blockshk[i][2] + "px) rotate(" + blockshk[i][3] + "deg)"
        });
    };
    setTimeout(function() {
        $("#legoredtop").css("visibility", "visible");
        $("#legopinktop").css("visibility", "visible");
    }, 1200);
    return;
};

      setTimeout(function() {
          $("#legoblocks").addClass("dropped");
          var siriHousekeeper = setInterval(function(){
            legoFix();
            if($("#legoblocks").hasClass("fixed")) {
                clearInterval(siriHousekeeper);
                houseKeeper();
            }
          }, 1000);

      }, 6000);

///////// HOVERING THE COMPONENTS ///////////////////////////////////

    $("#legoblocks").hover(
      function() {
        $(".legos").css("opacity", 0.15);
      },
      function() {
        $(".legos").css("opacity", 1);
      }
    );

    $(".legos").hover(
      function(event) {
        event.stopPropagation;
        console.log($(this).attr("id"));
        $(this).css("opacity", 1);
        if($(this).attr("id") == "legoredtop") {
            $('#legored').css("opacity", 1);
        };
        $("#headerc1").addClass($(this).attr("id"));
        $("#headerc2").addClass($(this).attr("id"));
        $("#headerc2").html(eval("c2_" + $(this).attr("id")));
        $("#headerc3").addClass($(this).attr("id"));
      },
      function(event) {
        event.stopPropagation;
        $(this).css("opacity", 0.15);
        if($(this).attr("id") == "legoredtop") {
            $('#legored').css("opacity", 0.15);
        };
        $("#headerc1").removeClass($(this).attr("id"));
        $("#headerc2").removeClass($(this).attr("id"));
        $("#headerc2").html("");
        $("#headerc3").removeClass($(this).attr("id"));
      }
    );

});
</script>
