<div style='width: 100%; height: 500px;'>
    <div id="timeline"></div>
    <script>
      var timeline = new TL.Timeline('timeline', '<%= tameline_path("json") %>', {
      	ga_property_id: "UA-27829802-4"
      });
    </script>
</div>
