$bgDefault      : rgb(255, 227, 0);
$bgHighlight    : rgba(0, 0, 0, 0.38);
$colDefault     : #464220;
$colHighlight   : #ffffff;
$contrast       : #9e8d00;
$dropDown       : false;

$gps-burg:           rgba(182, 15, 97, 0.9);
$gps-orange:         rgba(242, 112, 45, 0.9);
$gps-skyblue:        rgba(45, 181, 167, 0.9);
$gps-purple:         rgba(190, 61, 244, 0.9);
$gps-green:          rgba(180, 224, 67, 0.9);
$gps-yellow:         rgba(242, 194, 58, 0.9);
