// body{
//   font-family:arial,sans-serif;
//   font-size:100%;
//   margin:3em;
//   background:#666;
//   color:#fff;
// }
.dummit {
   textarea{
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 2px;
      padding-right: 0px;
      background-color: transparent;
      border: none;
    }
    p {
      padding-left: 2px;
    }
    h2,p,textarea{
      font-size:95%;
      font-height:95%;
      font-weight:normal;
    }
    ul,li{
      list-style:none;
    }
    ul{
      overflow:hidden;
      padding:0;
    }
    ul p{
      overflow:hidden;
      padding:0;
    }
    ul li a{
      text-decoration:none;
      color:#000;
      background:#ffc;
      display:block;
      height:7em;
      width:7em;
      padding:0em;
      -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
      -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
      box-shadow: 5px 5px 7px rgba(33,33,33,.7);
      -moz-transition:-moz-transform .15s linear;
      -o-transition:-o-transform .15s linear;
      -webkit-transition:-webkit-transform .15s linear;
    }
    ul li{
      margin:1em;
      float:left;
    }
    ul li h2{
      font-size:95%;
      font-weight:bold;
      padding-bottom:0px;
    }
    ul li p,textarea{
      font-family:"Reenie Beanie",arial,sans-serif;
      line-height: 95%;
      font-size:95%;
    }
    ul li a{
      -webkit-transform: rotate(-6deg);
      -o-transform: rotate(-6deg);
      -moz-transform:rotate(-6deg);
    }
    ul li:nth-child(even) a{
      content: "dummit-new-even";
      -o-transform:rotate(4deg);
      -webkit-transform:rotate(4deg);
      -moz-transform:rotate(4deg);
      position:relative;
      top:5px;
      background:#cfc;
    }
    ul li:nth-child(3n) a{
      content: "dummit-new-3n";
      -o-transform:rotate(-3deg);
      -webkit-transform:rotate(-3deg);
      -moz-transform:rotate(-3deg);
      position:relative;
      top:-5px;
      background:#ccf;
    }
    ul li:nth-child(5n) a{
      content: "dummit-new-5n";
      -o-transform:rotate(5deg);
      -webkit-transform:rotate(5deg);
      -moz-transform:rotate(5deg);
      position:relative;
      top:-10px;
    }
    ul li a:hover,ul li a:focus{
      box-shadow:10px 10px 7px rgba(0,0,0,.7);
      -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
      -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
      -webkit-transform: scale(1.35);
      -moz-transform: scale(1.35);
      -o-transform: scale(1.35);
      position:relative;
      z-index:5;
    }
    ol{text-align:center;}
    ol li{display:inline;padding-right:1em;}
    ol li a{color:#fff;}
}
/////////////////////////////////////////////////////////////////////////////
///////////// dummit-new //////////////////
////////////////////////////////////////////////////////////////////////////
.dummit-new {
    #dummit-new-ul {
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: -10;
    border-top-width: 10px;
    margin-top: 36px;
    }
    #dummit-new-1 {
    margin-right: 0px;
    margin-left: 28px;
    }
    #dummit-new-1 a{
    background-size: 130px;
    background-position: center;
    background-image: url(asset_path('dummit_new_bg'));
    background-repeat: no-repeat;
    border: none;
    }
    #dummit-new-2 {
    margin-right: 0px;
    margin-left: 28px;
    }
    #dummit-new-2 a{
    padding-left: 5px;
    padding-right: 5px;
    }
    #dummit-new-3 {
    margin-right: 0px;
    margin-left: 28px;
    background-color: transparent;
    border: none;
    }
    #dummit_submit {
    background-color: transparent;
    background-image: url(asset_path('checkicon'));
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    }
    #dummit_title {
    font-family: "Reenie Beanie",arial,sans-serif;
    margin: 2px;
    font-size:120%;
    font-height:100%;
    font-weight:normal;
    border: none;
    background-color: transparent;
    }
    #dummit_body {
      font-family: "Reenie Beanie",arial,sans-serif;
      margin: 2px;
      font-size:120%;
      font-height:100%;
      font-weight:normal;
      border: none;
      background-color: transparent;
    }
    h2,p,textarea{
      font-size:120%;
      font-height:100%;
      font-weight:normal;
    }
    ul,li{
      list-style:none;
    }
    ul{
      overflow:hidden;
      padding:0;
    }
    ul p{
      overflow:hidden;
      padding:0;
    }
    ul li a{
      text-decoration:none;
      color:#000;
      background:#ffc;
      display:block;
      height:12em;
      width:12em;
      padding:0.5em;
      -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
      -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
      box-shadow: 5px 5px 7px rgba(33,33,33,.7);
      -moz-transition:-moz-transform .15s linear;
      -o-transition:-o-transform .15s linear;
      -webkit-transition:-webkit-transform .15s linear;
    }
    ul li{
      margin:1em;
      float:left;
    }
    ul li h2{
      font-size:120%;
      font-height:100%;
      font-weight:bold;
      padding-bottom:10px;
    }
    ul li p,textarea{
      font-family:"Reenie Beanie",arial,sans-serif;
      line-height: 100%;
      font-size:120%;
    }
    ul li a{
      -webkit-transform: rotate(-6deg);
      -o-transform: rotate(-6deg);
      -moz-transform:rotate(-6deg);
    }
    .dummit-new-even a{
      -o-transform:rotate(4deg);
      -webkit-transform:rotate(4deg);
      -moz-transform:rotate(4deg);
      position:relative;
      top:5px;
      background:#cfc;
    }
    .dummit-new-3n a{
      -o-transform:rotate(-3deg);
      -webkit-transform:rotate(-3deg);
      -moz-transform:rotate(-3deg);
      position:relative;
      top:-5px;
      background:#ccf;
    }
    .dummit-new-5n a{
      -o-transform:rotate(5deg);
      -webkit-transform:rotate(5deg);
      -moz-transform:rotate(5deg);
      position:relative;
      top:-10px;
    }
    ul li a:hover,ul li a:focus{
      box-shadow:10px 10px 7px rgba(0,0,0,.7);
      -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
      -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
      -webkit-transform: scale(1.25);
      -moz-transform: scale(1.25);
      -o-transform: scale(1.25);
      position:relative;
      z-index:5;
    }
    ol{text-align:center;}
    ol li{display:inline;padding-right:1em;}
    ol li a{color:#fff;}

}
