$bgDefault      : rgb(255, 227, 0);
$bgHighlight    : rgba(0, 0, 0, 0.38);
$colDefault     : #464220;
$colHighlight   : #ffffff;
$contrast       : #9e8d00;
$dropDown       : false;

div.lecture-panel {
    // padding-top: 1.5em;
    height: 5em;
    border-left: 1em solid $bgDefault;
    margin-bottom: 9px;

    h2 {
      margin-top: 0;
      color: white;
    }
}

div.topic-group {
  margin-bottom: 1em;
}

div.topic-panel {
  margin-left: 3em;
  margin-bottom: 5px;

  a {
    color: black;
    background: $contrast;
    display: block;
    padding: 0.5em 0 0.5em 1em;
  }

  a:hover {
    color: gray;
    background: $bgDefault;
    text-decoration: none;
  }
}

a.topic-link {
  display: block;
  padding-left: 1em;
  height: 100%;
  background: $contrast;
  font-size: 1.5em;
  padding-top: 0.9em;
  color: black;

  span {
    background: gray;
    color: white;
  }

}

a.topic-link:hover {
  background: $bgDefault;
  text-decoration: none;
}

//--------------------------

body {
  background-color: black;
}
.up-div {
  background-color: black;
  > img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
}
.down-div {
  height: auto;
  letter-spacing: 2px;
  color: $colDefault;
  background-color: $bgDefault;
  > img {
      display: block;
      margin: auto;
    }
}

.maluca {
  background-color: green;
  color: white;
}
.created-by {
  font-size: 65%;
  color:rgba(0, 0, 0, 0.39);
}
.icon-big {
  font-size: 25px;
}
.label_check_boxes label {
  margin-left: 5px;
  margin-right: 25px;
}
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    &:hover, &:focus {
      background-color: $contrast; }
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      //@if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          padding-top: 0px;
          padding-bottom: 0px;
          min-width: 10px;
          > li > a {
            padding-top: 6px;
            padding-bottom: 6px;
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $contrast; }}
          .divider {
            background-color: $bgHighlight;}}
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

///////////////////////////////


div.navbar-padding {
  margin-bottom: 75px;
}

.flash-box {
    padding: 15px;
    color: #666;
    margin-bottom: 5px;
}

.flash-box.warning {
  border-left: 8px solid #ffd714;
}

.flash-box.notice {
  border-left: 8px solid #87cb00;
}

textarea#post_code  {
  height: 20em;
}

.padded {
  margin: 0.75em;
}

code {
}

// Hacks for the navbar popping higher on the mobile media query
nav.navbar.navbar-default.navbar-fixed-top {
  height: 52px;
}

.container-fluid{
  height: 52px;
}
//-----------------------------------
video {
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;

    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    vertical-align: top;
    width: 100%;
}

p { padding: 1em; }

// li {
//     border-bottom: 1px solid rgb(189, 189, 189);
//     border-left: 1px solid rgb(189, 189, 189);
//     padding: .5em;
// }
///////////// Timeline.js overrides /////////////////////
.tl-text {
  background-color: rgba(0, 0, 0, 0.0);
}
.tl-slide {
  background-color: rgba(0, 0, 0, 0.06);
}
//.tl-timenav {
//   background-color: blue;
// }
.tl-timenav-slider-background {
  background-color: rgba(158, 158, 158, 0.23);
}
.tl-timeline {
  background-color: black;
}
.tl-animate {
  background-color: black;
}
.alert-success {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(139, 195, 74, 0.36);
    border-color: black;
    color: rgba(139, 195, 74, 0.64);
    border-top-width: 2px;
    border-bottom-width: 0px;
}
.alert-danger {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(233, 30, 30, 0.37);
    border-color: black;
    color: rgba(244, 67, 54, 0.54);
    border-top-width: 2px;
    border-bottom-width: 0px;
}
.animated {
    -webkit-animation-duration: 10s;animation-duration: 10s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
}     
@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}
