// Place all the styles related to the streams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Nothing+You+Could+Do);

.affix {
	/*width: inherit;*/
}


h1 {
	font-family: 'Nothing You Could Do', cursive;
	margin-top: 50px;
	margin-bottom: 18px;
	border-bottom: 2px solid #08c;
	line-height: 33px;
}
h1#introduction {
	font-weight: bold;
	border-bottom: 2px solid transparent;
	color: #468847;
}
.form_stream {
  display: inline-block;
  color: #9E9E9E;
}
.label {
    display: block;
    text-align: left;
    padding: 0 0 0 0;
    font-size: 90%;
    color: rgba(255, 255, 255, 0.71);
}
.tfield {
  background-color: #222222;
  border-color: rgba(235, 235, 235, 0.05);
  margin-right: 20px;
	padding-left: 8px;
	padding-right: 8px;
	width: 100%;
}
.tfieldesc {
  background-color: #222222;
  border-color: rgba(235, 235, 235, 0.05);
  margin-right: 0;
}
//-------------------------
.transparent {
  opacity: 0;
}
.hidden {
  visibility: hidden;
}
.tam-btonair {
  width: 145px;
  height: 38px;
	background-color: transparent;
	border: none;
}
.tam-button {
  width: 151px;
  height: 63px;
	background-color: transparent;
	border: none;
	padding: 0 0 0 0;
}
.tam-liveoff {
  background-image: url(asset_path('bt_tam_liveoff'));
  background-size: contain;
  background-repeat: no-repeat;
}
.tam-liveon {
  background-image: url(asset_path('bt_tam_liveon'));
  background-size: contain;
  background-repeat: no-repeat;
}
.tam-capturing {
  background-image: url(asset_path('bt_tam_capturing'));
  background-size: contain;
  background-repeat: no-repeat;
}
.tam-cut {
  background-image: url(asset_path('bt_tam_cut'));
  background-size: contain;
  background-repeat: no-repeat;
}
.off-air {
  background-image: url(asset_path('Off_Air.gif'));
  background-size: contain;
  background-repeat: no-repeat;
}
.on-air {
  background-image: url(asset_path('On_Air.gif'));
  background-size: contain;
  background-repeat: no-repeat;
}
.tam-patam {
  background-image: url(asset_path('bt_patam'));
  background-size: contain;
  background-repeat: no-repeat;
}
.tam-dummit {
  background-image: url(asset_path('bt_dummit'));
  background-size: contain;
  background-repeat: no-repeat;
}
.tam-stream {
  background-image: url(asset_path('bt_stream'));
  background-size: contain;
  background-repeat: no-repeat;
}
.offset {
	color: transparent;
  line-height: 10px;
}
.dimmed {
	opacity: 1;
}
// #tam-event-keep-alive-video {
//   width: 0px;
//   height: 0px;
//   background-color: black;
//   visibility: hidden;
// }
