<% if flash[:notice] %>
  <span class="alert col-md-11 alert-success animated fadeOut" data-dismiss="alert">
    <%= flash[:notice] %>
    <% flash.discard(:warning) %>
  </span>

<% elsif flash[:alert] %>
  <span class="alert col-md-11 alert-danger" data-dismiss="alert">
    <%= flash[:alert] %>
  </span>
<% end %>
