<% if flash[:notice] %>
  <div class="alert alert-success animated fadeOut" data-dismiss="alert">
    <%= flash[:notice] %>
  </div>

<% elsif flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
